body
{
    margin: 0;
    
}
.container
{
    margin-left: 30px;
    margin-right: 30px;
    border:solid black 1px
    
}
header
{
    height: 200px;
    border:solid black 1px
}

.content
{
    display: flex;
    border:solid black 1px
}

.right
{
    border:solid black 1px
}

.one .two
{
    margin: 8px;
    border:solid black 1px
}